@tailwind base;
@tailwind components;
@tailwind utilities;

@import "normalize.css/normalize.css";
@import "./feeds-list.scss";

$topmenuHeight: 40px;

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
  Microsoft YaHei, Arial, sans-serif;
  background-color: #eee;
}
