.feed-list {
  .body {}

  .d-flex {
    display: flex;
  }

  .d-inline-block {
    display: inline-block;
  }

  .width-full {
    width: 100%;
  }

  .flex-column {
    flex-direction: column;
  }

  .octicon {
    display: inline-block;
    line-height: 100%;
  }
}
